!! Configuration
URxvt.font: xft:FantasqueSansMono:size=8
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.perl-ext-common: default,selection-to-clipboard,tabbed,matcher
URxvt.saveLines: 10000
URxvt.geometry: 100x30
URxvt.url-launcher: /usr/bin/google-chrome-stable
URxvt.matcher.button: 1

!! Colors
URxvt.background: #050505
URxvt.foreground: #cdcdcd

URxvt.tab-bg: 233
URxvt.tab-fg: 124
URxvt.tabbar-bg: 233
URxvt.tabbar-fg: 240

URxvt.colorUL: #3f6c55

URxvt.color0: #050505
URxvt.color1: #962433
URxvt.color2: #256341
URxvt.color3: #8c8508
URxvt.color4: #295877
URxvt.color5: #6f2a72
URxvt.color6: #286570
URxvt.color7: #afafaf

URxvt.color8: #202020
URxvt.color9: #db344a
URxvt.color10: #399562
URxvt.color11: #b7ae0b
URxvt.color12: #3d82af
URxvt.color13: #a43fa8
URxvt.color14: #3c94a3
URxvt.color15: #cdcdcd
